@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-black: #202329;
  --secondary-black: #3C3E44;
  --main-gray: #272B33;
  --secondary-gray: #9E9E9E;
  --main-white:#FFFFFF;
  --secondary-white:#F5F5F5;
  --main-green:#55CC44;
  --main-red:#D63D2E;
}

body {
  height: 100vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

input,
textarea,
button,
select {
  -webkit-tap-highlight-color: transparent;
}
